{{>nav-no-login}}




  <div class="col-md-9 mx-auto">
    <div class="margin-b card mt-5 bg-black rounded">
      <div class="card-header text-center pt-5">
        <h1 class="h4">
          APLICACIÓN DE NOTAS
        </h1>
      </div>
     
      <div class="card-body text-center">
      

         <div class="mb-3 mt-3">
           APLICACIÓN DE NOTAS REALIZADA EN NODEJS CON LAS SIGUIENTES TECNOLOGÍAS
           <ul class="list-group mt-4 text-white ">
            <li class="list-group-item bg-dark">EXPRESS</li>
            <li class="list-group-item bg-dark">HANDLEBARS</li>
            <li class="list-group-item bg-dark">MONGODB</li>

            </ul>
         </div>

       
       
      </div>

      <p class="text-center mb-7">
        <br>
        <a href="/users/login" class="text-center text-info">INGRESAR</a>
        <br>
        <a href="/users/register" class="text-center text-info">REGISTRARSE</a>

      </p>
    </div>
  </div>
